<h2>Lista de Celebridades</h2>

<ul>
  {{#each celebrities}}
  <li>
    <strong>Nombre:</strong> {{name}}<br>
    <strong>Ocupación:</strong> {{occupation}}<br>
    <strong>Frase célebre:</strong> {{catchPhrase}}
  </li>
  {{/each}}
</ul>
