<!DOCTYPE html>
<html>
<head>
    <title>Título de tu página</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Movies-celebrities</h1>
        
        <div class="image-container">
            <img src="/images/Guardianes_de_la_galaxia_Vol_3-432175921-large.jpg" alt="Imagen" class="img-fluid">
            <div class="image-buttons">
                <a href="/movies/create" class="btn btn-primary">Crear Película</a>
                <a href="/movies" class="btn btn-secondary">Películas</a>
            </div>
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>